@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissible fade show alertPosition" role="alert">
        <strong>@Localizer["Error"]:</strong> @ViewBag.Error
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.Warning != null)
{
    <div class="alert alert-warning alert-dismissible fade show alertPosition" role="alert">
        <strong>@Localizer["Warning"]:</strong> @ViewBag.Warning
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.Info != null)
{
    <div class="alert alert-success alert-dismissible fade show alertPosition" role="alert">
        <strong>@Localizer["Info"]:</strong> @ViewBag.Info
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<script>
    window.setTimeout(function () {
        $(".alert").slideUp(500, function () {
            $(this).remove();           
    });
}, 3000);
</script>
