@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container">
        <a onclick="showLoader();" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/favicon.ico" alt="Exam" width="48" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

            <partial name="_LoginPartial" />
            <ul class="navbar-nav flex-grow-1">
                <li>
                    @*@await Html.PartialAsync("_SelectLanguagePartial")*@
                </li>
                <li class="nav-item">
                    <a onclick="showLoader();" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                </li>
                <li class="nav-item">
                    @if (User.IsInRole(RoleEnum.admin) || User.IsInRole(RoleEnum.teacher))
                    {
                        <a onclick="showLoader();" class="nav-link text-dark" asp-area="" asp-controller="Exams" asp-action="Index">@Localizer["Exams"]</a>
                    }
                    else if (User.IsInRole(RoleEnum.student))
                    {
                        <a onclick="showLoader();" class="nav-link text-dark" asp-area="" asp-controller="UserExams" asp-action="Index">@Localizer["Exams"]</a>
                    }
                </li>
                <li class="nav-item">
                    @if (User.IsInRole(RoleEnum.admin) || User.IsInRole(RoleEnum.teacher))
                    {
                        <a onclick="showLoader();" class="nav-link text-dark" asp-area="" asp-controller="Tutorials" asp-action="Index">@Localizer["Tutorials"]</a>
                    }
                    else if (User.IsInRole(RoleEnum.student))
                    {
                        <a onclick="showLoader();" class="nav-link text-dark" asp-area="" asp-controller="UserTutorials" asp-action="Index">@Localizer["Tutorials"]</a>
                    }
                </li>
                <li class="nav-item">
                    @if (User.IsInRole(RoleEnum.admin) || User.IsInRole(RoleEnum.teacher))
                    {
                        <a onclick="showLoader();" class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">@Localizer["Courses"]</a>
                    }
                    else if (User.IsInRole(RoleEnum.student))
                    {
                        <a onclick="showLoader();" class="nav-link text-dark" asp-area="" asp-controller="UserCourses" asp-action="Index">@Localizer["Courses"]</a>
                    }
                </li>

                @if (User.IsInRole(RoleEnum.admin))
                {
                    <li class="nav-item">
                        <a onclick="showLoader();" class="nav-link text-dark" asp-area="" asp-controller="EventLogs" asp-action="Index">@Localizer["Logs"]</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>