@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Localizer["Error"].</h1>
<h2 class="text-danger">@Localizer["An error occurred while processing your request."]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
    <p>
        @ViewBag.Message
    </p>
    <p>
        @ViewBag.InnerException
    </p>
    <p>
        @ViewBag.Path
    </p>
}
