@model IEnumerable<ExamContract.CourseModels.User>
@{
    SearchModel searchModel = new SearchModel("coursesGrid", "tr", Localizer.GetString("Search"));
    int error = 0;
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">@Localizer["Your courses"]</div>
            <div class="col-6"><partial name="_Search" model="@searchModel"></div>
        </div>
    </div>
    <div class="card-body">
        @if (Model != null && Model.Count() > 0)
        {
            try
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Course.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Course.Description)
                            </th>
                            <th>
                                @Localizer["Owner"]
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                            <th>Link</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="coursesGrid">
                        @foreach (var item in Model)
                        {
                            if (item.Course != null)
                            {
                                <tr>
                                    <td>
                                        <div class="td">@Html.DisplayNameFor(model => model.Course.Name)</div>
                                        @Html.DisplayFor(modelItem => item.Course.Name)
                                    </td>
                                    <td>
                                        <div class="td"> @Html.Raw(item.Course.Description)</div>
                                        @Html.Raw(item.Course.Description)
                                    </td>
                                    <td>
                                        <div class="td">@Localizer["Owner"]</div>
                                        @Html.DisplayFor(modelItem => item.Course.Login)
                                    </td>
                                    <td>
                                        <div class="td">@Html.DisplayNameFor(model => model.Course.Active)</div>
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td>
                                        <div class="td">Link</div>
                                        @if (item.Active)
                                        {
                                            <a asp-controller="UserCourses" asp-action="Course" asp-route-id="@item.CourseId" class="bold"><div class="btn btn-primary btn-sm">@Localizer["Go to"]</div></a>
                                        }
                                    </td>
                                    <td>
                                        <div>
                                            @if (item.Active)
                                            {
                                                <form asp-action="Edit">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <button onclick="showLoader()" class="btn btn-primary btn-sm">@Localizer["Sign out"]</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form asp-action="Create">
                                                    <input type="hidden" name="id" value="@item.Course.Id" />
                                                    <button onclick="showLoader()" class="btn btn-primary btn-sm">@Localizer["Sign in"]</button>
                                                </form>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            catch (Exception)
            {
                if (error < 1)
                {
                    error++;
                    <script>
                        location.reload();
                    </script>
                }
                else
                {
                    throw;
                }
            }
        }
    </div>
</div>


