@model IEnumerable<Logger.Model.EventLog>

@{
    ViewData["Title"] = Localizer["Application events"];
}

<h2>@Localizer["Application events"] :</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Message"]
            </th>
            <th>
                @Localizer["EventId"]
            </th>
            <th>
                @Localizer["LogLevel"]
            </th>
            <th>
                @Localizer["Date"]
            </th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td class="command">
                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.id">@Localizer["Details"]</a> 
                <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.id">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
