@model IEnumerable<ExamContract.MainDbModels.Exam>

<p>
    <a asp-controller="Exams" asp-action="Create" class="btn btn-primary btn-sm">@Localizer["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><button id="arrow_@item.Id" onclick="toggleTr('#questions_@item.Id', '#arrow_@item.Id')" class="btn btn-primary fa fa-chevron-down btn-sm"></button>   @Localizer["Questions"]</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DurationMinutes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    <div class="command">
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a>
                        @*<a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>*@
                        <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                    </div>
                </td>
            </tr>
            <tr id="questions_@item.Id" style="display:none">
                <td>
                    
                </td>
                <td colspan="7">
                    <p><a asp-controller="Questions" asp-action="Create" asp-route-parentId="@item.Id" class="btn btn-primary btn-sm">@Localizer["Add question"]</a></p>                   
                    <partial name="_QuestionsGrid" model="@item.Questions">
                </td>
            </tr>
        }
    </tbody>
</table>