@model ExamContract.MainDbModels.Question

@{
    ViewData["Title"] = Localizer["Details"];
}

<h3>@Localizer["Details"]: @Html.DisplayFor(model => model.Name)</h3>

<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerType)
                </th>          
                <th>
                    @Html.DisplayNameFor(model => model.Login)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Image)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AnswerType)
                </td>                
                <td>
                    @Html.DisplayFor(model => model.Login)
                </td>
                <td class="command">
                    <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@Model.Id">@Localizer["Edit"]</a>
                    <a asp-action="Index" class="btn btn-primary btn-sm">@Localizer["Back to List"]</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div>

</div>
