@model IEnumerable<ExamContract.MainDbModels.Exam>
@if (Model != null && Model.Count() > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MinStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DurationMinutes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxPoints)
                </th>
                <th>
                    @Localizer["Owner"]
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
            </tr>
        </thead>
        <tbody id="examsGrid">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="td">@Html.DisplayNameFor(model => model.Name)</div>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div class="td">@Html.DisplayNameFor(model => model.MinStart)</div>
                        @Html.DisplayFor(modelItem => item.MinStart)
                    </td>
                    <td>
                        <div class="td">@Html.DisplayNameFor(model => model.MaxStart)</div>
                        @Html.DisplayFor(modelItem => item.MaxStart)
                    </td>
                    <td>
                        <div class="td">@Html.DisplayNameFor(model => model.DurationMinutes)</div>
                        @Html.DisplayFor(modelItem => item.DurationMinutes)
                    </td>
                    <td>
                        <div class="td">@Html.DisplayNameFor(model => model.MaxPoints)</div>
                        @Html.DisplayFor(modelItem => item.MaxPoints)
                    </td>
                    <td>
                        <div class="td">@Localizer["Owner"]</div>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        <div class="td">@Html.DisplayNameFor(model => model.Active)</div>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        <a asp-controller="ExamApproaches" asp-action="Index" asp-route-code="@item.Code">@Html.DisplayFor(modelItem => item.Code)</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
