@model IEnumerable<ExamContract.MainDbModels.User>
@{
    SearchModel searchModel = new SearchModel("examsGrid", "tr", Localizer.GetString("Search"));
    int error = 0;
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">@Localizer["Your exams"]</div>
            <div class="col-6"><partial name="_Search" model="@searchModel"></div>
        </div>
    </div>
    <div class="card-body">
        @if (Model != null && Model.Count() > 0)
        {
            try
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>                               
                                @Html.DisplayNameFor(model => model.Exam.Name)
                            </th>
                            <th>                               
                                @Html.DisplayNameFor(model => model.Exam.MinStart)
                            </th>
                            <th>                                
                                @Html.DisplayNameFor(model => model.Exam.MaxStart)
                            </th>
                            <th>
                                @Localizer["Owner"]
                            </th>
                            <th>                               
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                            <th>                              
                                @Html.DisplayNameFor(model => model.Exam.Code)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="examsGrid">
                        @foreach (var item in Model)
                        {
                            if (item.Exam != null)
                            {
                                <tr>
                                    <td>
                                        @if (item.Active)
                                        {
                                            <a asp-controller="ExamApproaches" asp-action="Index" asp-route-code="@item.Exam.Code">@Html.DisplayFor(modelItem => item.Exam.Name)</a>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Exam.Name)
                                        }
                                    </td>
                                    <td>
                                        <div class="td">@Html.DisplayNameFor(model => model.Exam.MinStart)</div>
                                        @Html.DisplayFor(modelItem => item.Exam.MinStart)
                                    </td>
                                    <td>
                                        <div class="td">@Html.DisplayNameFor(model => model.Exam.MaxStart)</div>
                                        @Html.DisplayFor(modelItem => item.Exam.MaxStart)
                                    </td>
                                    <td>
                                        <div class="td">@Localizer["Owner"]</div>
                                        @Html.DisplayFor(modelItem => item.Exam.Login)
                                    </td>
                                    <td>
                                        <div class="td">@Html.DisplayNameFor(model => model.Exam.Active)</div>
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td>
                                        <div class="td">@Html.DisplayNameFor(model => model.Exam.Code)</div>
                                        @Html.DisplayFor(modelItem => item.Exam.Code)
                                    </td>
                                    <td>
                                        <div>
                                            @if (item.Active)
                                            {
                                                <form asp-action="Edit">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <button onclick="showLoader()" class="btn btn-primary btn-sm">@Localizer["Sign out"]</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form asp-action="Create">
                                                    <input type="hidden" name="id" value="@item.Exam.Id" />
                                                    <button onclick="showLoader()" class="btn btn-primary btn-sm">@Localizer["Sign in"]</button>
                                                </form>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            catch (Exception)
            {            
                if (error < 1)
                {
                    error++;
                    <script>
                        location.reload();
                    </script>
                }
                else
                {                   
                    throw;
                }                
            }
        }
    </div>
</div>


